footer.footer {
  background: $navyBlue;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  padding: 15px 85px 17px;

  .container {
    .row {
      display: flex;

      .footer-copyrite {
        flex-basis: 20%;
      }

      .footer-email {
        flex-basis: 40%;
      }

      .footer-credit {
        flex-basis: 40%;
      }
    }
  }
}