// Colors
$white: #ffffff;
$black: #2C333C;
$green: #5faf16;
$greenLight: #edf6e5;
$bgColor: #fff;
$navyBlue:#2C3D55;

$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;