extends template/main

block variables
  - var title = ''
  - var pageClass = 'index-page'

block content
  .container
    .col_left
      include modules/navigation/left_menu

    .col__right
      section.contribution
        .container
          .section__title
            h3 Как принять участие
          .contribution__block.info
            .wrap
              h4.contribution__block-title Для участников предыдущих заездов
              .contribution__block-text На СМС-Сервер (+375 29 506 17 98) шлём СМС : <br>
                |  <b>#806</b> или <b>#806</b> АСР (если нужна медаль из Парижа)
          .contribution__block
            .wrap
              h4.contribution__block-title Для новых участников
              .contribution__block-text 
                ol
                  li Знакомимся с 
                    a(href="") Положением
                  li Заполняем анкету
                    a.more Скачать анкету
                  li Отправляем анкету Организатору бревета, с пометкой «Новый участник»: <br>
                    strong Олег Дубровник
                    a.ic_email(href="mailto:doc207@mail.ru") doc207@mail.ru
          

      section.resultats
        .container
          .section__title
            h3 Результаты заезда
          table
            tr
              th.heading Имя
              th.heading №
              th.heading КП0
              th.heading КП1
              th.heading КП2
              th.heading КП3
              th.heading КП4
              th.heading КП5
              th.heading КП6
              th.heading Результат
            tr
              td Василевский А.
              td 535
              td 7.00
              td 11.00
              td 14.51
              td 18.21
              td 21.59
              td 4.28
              td 6.24
              td 23.23
            tr
              td Василевский А.
              td 535
              td 7.00
              td 11.00
              td 14.51
              td 18.21
              td 21.59
              td 4.28
              td 6.24
              td 23.23
            tr
              td Василевский А.
              td 535
              td 7.00
              td 11.00
              td 14.51
              td 18.21
              td 21.59
              td 4.28
              td 6.24
              td 23.23
            tr
              td Василевский А.
              td 535
              td 7.00
              td 11.00
              td 14.51
              td 18.21
              td 21.59
              td 4.28
              td 6.24
              td 23.23
            tr
              td Василевский А.
              td 535
              td 7.00
              td 11.00
              td 14.51
              td 18.21
              td 21.59
              td 4.28
              td 6.24
              td 23.23
            tr
              td Василевский А.
              td 535
              td 7.00
              td 11.00
              td 14.51
              td 18.21
              td 21.59
              td 4.28
              td 6.24
              td 23.23
            tr
              td Василевский А.
              td 535
              td 7.00
              td 11.00
              td 14.51
              td 18.21
              td 21.59
              td 4.28
              td 6.24
              td 23.23

            


      section.gallery
        .container
          .section__title
            h3 Галерея
      
      section.reports
        .container
          .section__title
            h3 Отчеты
          .report__wrap
            .report__item
              h4.report__item-title Анатолий
              .report__item-text Вообще, нам с Ольга Жалюк ехать этот бревет было не обязательно — свои двухсотки мы откатали еще в начале сезона. Но хороший прогноз погоды и жажда приключений взяли свое — плюс ко всему, мы подбили целую толпу наших друзей на это событие — все они уже ранее катали сотки и прочее, поэтому бревет с дистанцией в 200 км не должен был быть для них чем-то сложным. Дурной пример заразителен)
              a.more(href="http://#") Читать полностью
            .report__item
              h4.report__item-title Анатолий
              .report__item-text Вообще, нам с Ольга Жалюк ехать этот бревет было не обязательно — свои двухсотки мы откатали еще в начале сезона. Но хороший прогноз погоды и жажда приключений взяли свое — плюс ко всему, мы подбили целую толпу наших друзей на это событие — все они уже ранее катали сотки и прочее, поэтому бревет с дистанцией в 200 км не должен был быть для них чем-то сложным. Дурной пример заразителен)
              a.more(href="http://#") Читать полностью

  // include modules/small-block/prices