footer.footer
  .container
    .row
      .footer-copyrite
        .footer-copyrite__wrap
        span 2019 © brevet.by

      .footer-email
        .footer-email__wrap
          span Эл. почта для связи: 
          a(href="mailto:example@gmail.com") example@gmail.com

      .footer-credit
        .footer-credit__wrap
          span Дизайн: 
          a(href="http://", target="_blank", rel="noopener noreferrer") Yellowpine